---
import '@fontsource/space-mono';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Generador de Código QR desarrollado por Juan Cruz Martinez - Desarrollador Full Stack" />
    <meta name="viewport" content="width=device-width" />
    <link class="rounded-full" rel="icon" type="image/svg+xml" href="/qr-image.webp" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: 'Space Mono', sans-serif;
		scroll-behavior: smooth;
    background: #024e96;
  }
</style>